.container {
    border: 4px solid #ff3366;
    padding: 20px;
    margin: 18px;
    max-width: 700px;
    border-radius: 5px;
  }
  
  .sunheader {
    float: left;
    width: 250px;
    display: block;
  }
  
  ul{
    color: #ff3366;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      margin: 0;
      padding: 0;
      font-size: 17px;
      list-style: none;
  }
  hr {
    color:  #ff3366;
  }
  h1,
  h2,
  p {
    display: block;
    color: #ff3366;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  h1 {
    font-size: 50px;
    line-height: 90px;
    margin: 0;
  }
  h2 {
    font-size: 50px;
    line-height: 30px;
    margin: 0;
  }
  .units {
    font-size: 25px;
    position: relative;
    margin: none;
    top: -18px;
    left: -7px;
    text-decoration: none;
    color: #ff3366;
  }
  .highLow {
    text-align: right;
    font-size: 17px;
  }

  .timeimg {
    width: 50px;
    margin: 0;
    align-items: center;
  }
  .row {
    color: #ff3366;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .weekimg {
    width: 35px;
  }
  #hourforcast {
    text-align: center;
  }
  #weekForecast {
    text-align: left;
    margin: 10px;
  }
  #codedBy {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 25px;
  }